/*个人*/
.user-new{
  padding: 0;
}
.user-new-con{
  border:1px solid #f0f0f0;
  margin: 30px 100px;
  border-radius: 50px;
  text-align: center;
  padding: 30px;
}
.user-new-con:hover{
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}
.user-new .user-portrait{
  display: inline-block;
  padding: 10px;
  border-radius:50%;
  border:10px solid #f0f0f0;
}
.user-new .user-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url("/static/images/g2.jpg") no-repeat center;
  background-size: cover;
}
.user-new .user-name input{
  text-align: center;
  background-color: #fff;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  border:1px solid #333333;
}
.user-new .user-name{
  margin: 20px;
}
.user-new .user-name p{
  font-weight: bold;
}
.user-new .user-name .hr{
  margin:10px auto;
  width: 20px;
  height: 6px;
}
.user-new .user-pass a{
  margin:0 10px;
}
/*收藏*/
.user-collection-goods{
  display: block;
}

/*地址*/
.user-address-com{
  margin-left: -40px;
}

/*订单*/
.personal-express{
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin: 20px 0 60px;
}
.personal-hr {
  margin: 10px auto;
  width: 30px;
  height: 3px;
  background-color: #18d26e;
  margin-bottom: 30px;
}


.personal .personal-inp-top {
  margin: 2px auto;
  border-left: none;
}

.personal .personal-inp-top h3 {
  font-size: 2.0em;
  margin: 5px;
  font-weight: bold;
  text-align: center;
}

.personal-remarks {
  margin: 5px auto;
  font-size: 0.5em;
  font-weight: bold;
  color: #888888;
  text-align: center;
}
.order-state{
  padding:0 0 30px;
  margin: 0;
  text-align: center;
}
.order-state li{
  display: inline-block;
}
.order-date table{
  width: 100%;
}
.order-date th{
  padding: 12px;
  background-color: #605F5F;
  color: #ffffff;
  text-align: center;
}
.order-date tr{
  border:1px solid #f0f0f0;
}
.order-date td{
  padding: 12px;
}
.order-date .userOrder-table-tbody .goods-num{
  width: 40px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: -10px;
  border-radius: 5px;
  background-color: #ffffff;
  border:1px solid #333333;
}
.userOrder-order td{
  text-align: center;

}
.userOrder-table-tbody em{

  display: block;
}
.userOrder-table-tbody img{
  padding: 2px;
  border:1px solid #f0f0f0;
}
.userOrder-table-tbody h4{
  margin-left: 20px;
  display: inline-block;
  font-weight: bold;
}
.userOrder-table-tbody span{
  font-weight: bold;
}
.order-date .userOrder-item:hover{

  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);

}
/*-- //personal --*/
