/*边框*/
.single {
  padding: 4em 0;
}
.single-box-right .box-right-top,
.single-box-right .box-right-mid,
.single-box-right .box-right-low,
.single-box-left {
  border: 1px solid #F0F0F0;
}


/*内容*/

.single {
  padding-top: 5px;
}

.single-box-left {
  margin: 0;
  padding: 10px;
}

.single-box-left .single-box-left-head h3 {
  width: 100%;
  text-align: left;
  margin: 16px 0;
  padding: 3px 0 0 3px;
}

.single-box-left .single-box-left-head div {
  border: 0px;
}

.single-box-left img {
  width: 100%;
}


/*right*/

.single-box-right {
  margin: 0;
}

.box-right-mid {
  margin: 10px 0;
}

.box-right-mid,
.box-right-low,
.box-right-top {
  padding: 20px;
}

.single-box-right .box-right-top h3 {
  padding-left: 0.2em;
  display: inline-block;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 3em;
  color: #5cb85c;
}

.single-box-right .box-right-top .op {
  margin-top: 14px;
  font-size: 14px;
  float: right;
  color: #737373;
  text-decoration: line-through;
  /*花掉的横线*/
}

.single-box-right .box-right-top .btn {
  margin: 0.3em 0;
}

.single-box-right .box-right-top .box-int li {
  padding: 0.2em 0;
}

.single-box-right .box-right-top .toshop {
  width: 66%;
}

.single-box-right .box-right-top .tocollec {
  float: right;
  width: 33%;
}

.single-box-right ul {
  padding: 0;
}

.single-box-right li {
  padding: 0.5em 0;
  list-style: none;
}

.single-box-right .box-right-top .btn span {
  margin: 0 10px 0 0;
}

.single-box-right .box-right-top .purchase .btn-danger {
  width: 100%;
}

.box-right-mid {
  height: 60px;
}

.box-right-mid p {
  float: left;
  margin: 0;
}

.box-right-low h5,
.box-right-mid p {
  border-left: 0.2em solid #5cb85c;
  padding-left: 0.3em;
  font-weight: bold;
  color: #5cb85c;
  font-size: 1em;
}
.fx a{
  float: left;
}
.single-box-right .box-label li,
.single-box-right .box-chtic li {
  border-radius: 0;
  color: #5cb85c;
  padding: 0.5em;
  margin: 0.6em;
  /*cursor: default;鼠标样式改变*/
  border: 0.1em solid #5cb85c;
}

.single-box-right .box-label li:hover {
  color: #ffffff;
  background-color: #5cb85c;
  border: 0.1em solid #ffffff;
}

.single-box-right .box-chtic li {
  border-radius: 0;
  padding: 0.5em 2.5em;
  margin: 0.6em;
  cursor: default;
  color: #ffffff;
  background-color: #337ab7;
  border: 0.1em solid #ffffff;
}

.single-box-right .box-chtic li span {
  margin: 0 1em 0 0;
}

.box-dat p {
  color: #666666;
  font-size: 0.9em;
  padding: 0.2em;
  margin: 0;
}

.box-right-low .details-name {
  opacity: 0.8;
  text-align: right;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #5cb85c;
  padding: 0.2em 0.4em 0.2em 0;
  margin: 0;
}

.box-right-low .details-name span {
  padding-left: 0.5em;
}

.box-right-low .details-data {
  margin: 0.5em 0.2em;
  color: #666666;
  font-size: 0.9em;
}


/*//内容*/
