.shopping{
}
.loadingSvg{
  margin: auto;
  display: block;
  width: 150px;
}
/*检索*/
.retrieval{
  border:2px solid red;
  padding: 6px 4px;
}
.retrieval ul,.retrieval-condition ul{
  margin: 0;
  padding: 0;
}
.retrieval li,.retrieval-add,.retrieval-condition li{
  float: left;
  list-style-type: none;
}

.retrieval .wzBtn,.retrieval-condition .wzBtn{
  font-size: 16px;
  border-width: 0px;
  padding: 6px 12px;
  margin: 0px 4px;
}
.retrieval .wzBtn{
  /*background-color: transparent;*/
}
.retrieval .wzBtn:hover{
  background-color: #18d26e;
}
.retrieval-add{
  border:1px dashed #18d26e!important;
}
.retrieval-left{
  padding: 0;
}
.retrieval-left li span{
  margin: 4px;
}
.retrieval-right li,.sort{
  float:right;
}
.retrieval-frame{
  position: relative;
  border-left: 6px solid red;
  padding-left: 6px;
}
.retrieval-bor{
  border: 1px solid #f0f0f0;
  padding: 15px;
}
.retrieval-condition{
  position: absolute;
  padding: 10px;
  z-index: 50;
  background-color: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5);
  top: 50px;
  border-radius: 10px;
}
.retrieval-condition ul{
  margin: 10px 0;
}
.retrieval-condition .wzBtn{
  border:1px dashed #f0ad4e;
}
.triangle{
  top:-30px;
  left: 70px;
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 20px solid #ffffff;
  z-index: 5;
}
.retrieval-shelter{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/*菜单*/

.gallery-grids{
  border:1px solid #f0f0f0;
  padding: 5px;
}
/*.gallery hr {*/
  /*margin: 10px 0;*/
/*}*/

/*.gallery .container {*/
  /*padding: 0;*/
/*}*/

/*.gallery .breadcrumb {*/
  /*margin: 10px 0 20px -15px;*/
/*}*/

/*.gallery .gallery-top {*/
  /*margin: 20px -15px;*/
  /*padding: 10px;*/
/*}*/

/*.gallery .ification-top h3 {*/
  /*width: auto;*/
  /*display: inline-block;*/
/*}*/

/*.gallery .ification-top p span {*/
  /*color: #888888;*/
/*}*/

/*.gallery .gallery-ification-h4 {*/
  /*float: left;*/
  /*color: #8BC34A;*/
  /*font-size: 1.0em;*/
  /*text-align: left;*/
  /*margin: 0;*/
/*}*/

/*.gallery .gallery-ification-h4 span {*/
  /*color: #8BC34A;*/
  /*margin-right: 10px;*/
/*}*/

/*.gallery .gallery-ification-hr {*/
  /*color: #fff;*/
  /*float: right;*/
  /*cursor: pointer;*/
  /*font-size: 1.0em;*/
  /*width: auto;*/
  /*margin-top: 15px;*/
  /*border-bottom: 0.15em solid #FFFFFF;*/
/*}*/

/*.gallery .gallery-btn {*/
  /*padding: 0;*/
  /*border-left: 0.3em solid #8BC34A;*/
/*}*/

/*.simplefilter a {*/
  /*text-decoration: none !important;*/
/*}*/

/*!*新的按钮*!*/

/*.simplefilter li {*/
  /*color: #212121;*/
  /*cursor: pointer;*/
  /*!*鼠标点击状态*!*/
  /*display: inline-block;*/
  /*padding: 10px 20px;*/
  /*font-size: .9em;*/
  /*!*font-weight: 600;*!*/
  /*margin: 0;*/
  /*border: 2px solid #212121;*/
/*}*/

/*.simplefilter li.active {*/
  /*border: 2px solid #8BC34A;*/
  /*color: #ffffff;*/
  /*background: #8BC34A;*/
/*}*/

/*ul.simplefilter {*/
  /*!*text-align: center;*!*/
  /*margin: 1em 1em;*/
  /*padding: 0;*/
/*}*/

/*.ification-a ul.simplefilter {*/
  /*margin-top: 0.7em;*/
/*}*/

/*.ification-a span {*/
  /*color: #8BC34A;*/
  /*font-weight: bold;*/
/*}*/

/*.ification-a input[type='number'] {*/
  /*width: 100px;*/
  /*padding: 9px 20px;*/
  /*border: 0.1em solid #8BC34A;*/
/*}*/

/*.ification-a .queryspan {*/
  /*font-size: 0.9em;*/
  /*font-weight: inherit;*/
  /*margin-left: 20px;*/
/*}*/


/*!*.ification-c ul.simplefilter,.ification-d ul.simplefilter,.ification-e ul.simplefilter{*/
	/*margin: 0.5em 1em;*/
/*}*!*/

/*@media screen and (max-width:991px) {*/
  /*.simplefilter li {*/
    /*padding: 10px 13px;*/
    /*margin-bottom: 1em;*/
    /*font-size: 1em;*/
  /*}*/
  /*.address-consignee i.fa-phone,*/
  /*.address-consignee i.fa-map-marker {*/
    /*top: 77px;*/
  /*}*/
/*}*/

/*@media screen and (max-width:768px) {*/
  /*.simplefilter li {*/
    /*padding: 8px 10px;*/
    /*font-size: 0.9em;*/
    /*letter-spacing: 0px;*/
    /*margin-bottom: 1em;*/
  /*}*/
/*}*/

/*@media screen and (max-width:600px) {*/
  /*ul.simplefilter {*/
    /*margin-bottom: 0em;*/
  /*}*/
  /*.simplefilter li {*/
    /*margin-bottom: 1em;*/
  /*}*/
/*}*/

/*@media screen and (max-width:414px) {*/
  /*ul.simplefilter {*/
    /*margin-bottom: 0em;*/
  /*}*/
  /*.simplefilter li {*/
    /*padding: 4px 4px;*/
    /*font-size: 0.8em;*/
    /*letter-spacing: 0px;*/
    /*margin-bottom: 1em;*/
  /*}*/
/*}*/

/*.gallery .col-lg-4 {*/
  /*padding:0px 10px;*/
  /*!*background: #00FF00;*!*/
/*}*/

/*.gallery .conbox {*/
  /*margin: 10px 0;*/
  /*width: 100%;*/

  /*!*background: #122B40;*!*/
/*}*/

/*.gallery .grid {*/
  /*!*震动缩放动画*!*/
  /*!*width: 100px;*/
    /*height: 100px;*!*/
  /*!*opacity: 0;*!*/
/*}*/

/*.gallery .topttt {*/
  /*!*width: 100%;*/
    /*height: 100%;*!*/
  /*opacity: 1;*/
/*}*/

/*.grid figure {*/
  /*position: relative;*/
  /*overflow: hidden;*/
  /*margin: 0px 0;*/
  /*height: auto;*/
  /*text-align: center;*/
  /*cursor: pointer;*/
  /*background-color: #000000;*/
/*}*/

/*.grid figure img {*/
  /*position: relative;*/
  /*display: block;*/
  /*width: 100%;*/
  /*opacity: 0.8;*/
/*}*/

/*.grid figure figcaption {*/
  /*padding: 2em;*/
  /*color: #fff;*/
  /*text-transform: uppercase;*/
  /*font-size: 1.25em;*/
  /*-webkit-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
/*}*/

/*.grid figure figcaption::before,*/
/*.grid figure figcaption::after {*/
  /*pointer-events: none;*/
/*}*/

/*.grid figure figcaption,*/
/*.grid figure figcaption>a {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
/*}*/


/*!* Anchor will cover the whole item by default *!*/


/*!* For some effects it will show as a button *!*/

/*.grid figure figcaption>a {*/
  /*z-index: 1000;*/
  /*text-indent: 200%;*/
  /*white-space: nowrap;*/
  /*font-size: 0;*/
  /*opacity: 0;*/
/*}*/

/*.grid figure h3 {*/
  /*word-spacing: -0.15em;*/
  /*font-size: 1.5em;*/
  /*margin-top: 0.1em;*/
  /*color: #FFF;*/
  /*font-weight: 600;*/
/*}*/

/*.grid figure h2 span {*/
  /*font-weight: 800;*/
/*}*/

/*.grid figure h2,*/
/*.grid figure div {*/
  /*margin: 0;*/
/*}*/

/*.grid figure div {*/
  /*letter-spacing: 1px;*/
  /*font-size: 68.5%;*/
/*}*/


/*-----------------*/

