.bread{

  float: left;
  margin: 10px 0px;
}
.bread .fa-dot-circle-o{
  border-left:#f0ad4e solid 10px;
  padding-left: 10px;
}
.breadcrumb {
  height: auto;
  margin:0;
  padding: 0;
  background-color: transparent;
  display: inline-block;
}
.breadcrumb-bor{
  margin: 5px 0px;
  text-decoration: none;
  height: 2px;
  width: 0;
}
.breadcrumb .f10{
  text-decoration: none;
}
.bread:hover .breadcrumb-bor{
  width: 100%;
}
