
/*-- banner-bottom --*/

.view {
  text-align: center;
  padding: .5em;
  background: #e2e0e0;
}

.banner_bottom_right_grid .view-tenth a {
  text-decoration: none;
  cursor: pointer;
}

.banner_bottom_right_grid .view-tenth:hover {
  background: #8BC34A;
}

.banner_bottom_right_grid .view-tenth:hover,
.banner_bottom_right_grid .view-tenth:hover .agile_text_box,
.banner_bottom_right_grid .view-tenth:hover p,
.banner_bottom_right_grid .view-tenth:hover h3,
.banner_bottom_right_grid .view-tenth:hover i {
  transition: 0.5s all;
  color: #FFFFFF !important;
}

.agile_text_box p {
  line-height: 2em;
  margin: 0;
  color: #999999;
  font-size: .9em;
}

.agile_text_box i.fa {
  color: #8BC34A;
  font-size: 2em;
}

.agile_text_box h3 {
  font-size: .9em;
  color: #000000;
  margin: 1em 0 .5em;
  font-weight: 800;
  text-transform: uppercase;
}

.banner_bottom_right {
  padding-left: 0;
  float: left;
}

.banner_bottom_right_grid {
  padding-left: 0;
}

.wthree_banner_bottom_right_grids:nth-child(2) {
  margin: 1em 0 0;
}

.banner_bottom_left h3 {
  font-size: 2em;
  color: #000000;
  text-transform: capitalize;
}

.banner_bottom_left p i {
  color: #8BC34A;
  display: block;
  margin: .5em 0 1em;
}

.banner_bottom_left {
  text-align: right;
  float: right;
}

.banner_bottom_left p {
  color: #999999;
  line-height: 2em;
  margin: 0;
  font-size: .9em;
}

.wthree_more1 a,
.wthree_more2 a,
.wthree_more3 a {
  border-color: #212121;
  color: #212121;
  text-align: center;
}

.wthree_more1 .button--wayra {
  margin-left: 25em;
}


/*-- //banner-bottom --*/


/*-- team --*/

.team {
  background: url(/static/images/4.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*background-position: 50% 50%;*/
}

.w3lmask p {
  color: #FFFFFF;
  font-size: .9em;
  margin: 0;
}

.agile_team_grid {
  text-align: center;
}

.view {
  margin: 0;
  float: none;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.view .w3lmask,
.view .content {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 376px;
}

.view img {
  display: block;
  position: relative;
}

.view h5 {
  color: #ffffff;
  text-align: center;
  position: relative;
  font-size: 1em;
  font-weight: 800;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.w3-agile-view img {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
  width: 100%;
}

.w3-agile-view .w3lmask {
  background-color: rgba(0, 0, 0, 0.61);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0.4s;
  -moz-transition: all 0.3s ease-in 0.4s;
  -o-transition: all 0.3s ease-in 0.4s;
  -ms-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
  padding: 7em 1em 1em 1em;
}

.w3-agile-view h5 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background: transparent;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.w3-agile-view p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  -moz-transition: all 0.3s ease-in-out 0.2s;
  -o-transition: all 0.3s ease-in-out 0.2s;
  -ms-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

.agile_team_grid:hover .w3-agile-view .w3lmask,
.w3-agile-view:hover .w3lmask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.agile_team_grid:hover .w3-agile-view img,
.w3-agile-view:hover img {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.agile_team_grid:hover .w3-agile-view h5,
.w3-agile-view:hover h5 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.agile_team_grid:hover .w3-agile-view p,
.w3-agile-view:hover p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.w3-agile-view .agileits_social_icons {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.agile_team_grid:hover .w3-agile-view .agileits_social_icons,
.w3-agile-view:hover .agileits_social_icons {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.social {
  margin: 1em 0 0 0;
}

.social ul {
  padding: 0;
  margin: 0;
}

.social ul li {
  display: inline-block;
}

.social ul li a {
  color: #333;
  text-align: center;
}

.social ul li a i.fa.fa-facebook {
  height: 40px;
  width: 40px;
  background: none;
  border: solid 2px #FFFFFF;
  line-height: 39px;
  color: #FFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-facebook:hover {
  background: #3b5998;
  border: solid 2px #3b5998;
}

.social ul li a i.fa.fa-twitter {
  height: 40px;
  width: 40px;
  background: none;
  border: solid 2px #FFFFFF;
  line-height: 39px;
  color: #FFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-twitter:hover {
  border: solid 2px #1da1f2;
  background: #1da1f2;
}

.social ul li a i.fa.fa-rss {
  height: 40px;
  width: 40px;
  background: none;
  border: solid 2px #FFFFFF;
  line-height: 39px;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-rss:hover {
  border: solid 2px #f26522;
  background: #f26522;
}

.social ul li:nth-child(2) {
  margin: 0 .5em;
}


/*-- //team --*/


/*-- choose --*/

.agileits-w3layouts-choose-heading h3 {
  color: #FFFFFF !important;
}

.agile-choose-grids {
  margin: 4em 0 0 0;
}

.agile-choose-grid {
  text-align: center;
}

.choose-info h4 {
  font-size: 1.2em;
  color: #000;
  letter-spacing: 2px;
  margin: 1em 0 0 0;
  font-weight: 800;
  text-transform: uppercase;
}

.choose-info p {
  color: #999999;
  font-size: .9em;
  line-height: 2em;
  margin: 1em 0 0 0;
}

.choose-icon i.fa {
  background: #FF9800;
  padding: .9em 0 0 0;
  width: 90px;
  height: 90px;
  color: #FFFFFF;
  font-size: 2em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}


/*-- //choose --*/
