/*动态背景*/

/*-- //social-icons 主页滚动屏 --*/
.wzlayouts-banner-slider {
    margin: 8em 0;
}
.agileits-banner-info {
    text-align:center;
}
.agileits-banner-info h3{
    color: rgba(255, 255, 255, 0.57);
    font-size: 7em;
    margin: 0;
}
.agileits-banner-info h3 span{
    display: block;
    font-size: .15em !important;
    margin: 2.5em 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: 600;
    color: #FFFFFF !important;
}
.wz-button{
    margin: 2em 0 1em 0;
}
.wz-button a{
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: .5em 2em;
    background: #F44336;
    text-align: center;
    border: solid 2px #F44336;
}
.wz-button a:hover{
    background:none;
    border: solid 2px #FFFFFF;
}
.rslides-ol{
  padding: 0;
  margin: 0;
  text-align:center;
  width:100%;
}
.rslides-ol a{
  color:#ffffff;
}
.rslides-ol li{
  margin: 8px;
    display: inline-block;
    list-style-type: none;
    font-size: 25px;
}
/*social-icons*/
/*商品*/
/*portfolio*/


#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 20px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  margin: 15px 15px 15px 0;
  display: inline-block;
  margin-bottom: 5px;
}
#portfolio-flters li .wzBtn{
  border-width: 0;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
  position: relative;
  height: 300px;
  overflow: hidden;
}
#portfolio .section-title{
  border-bottom: 2px solid #ffffff;
  width: 30px;
  margin: auto;
}
/*--slider--*/
#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}
.rslides_tabs li:first-child {
    margin-left: 0;
}
.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}
.events {
    list-style: none;
}
.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}
.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.callbacks li {
    position: absolute;
    width: 100%;
}
.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}
.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(/static/images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    left: 95.5%;
}
.callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
    display: inline-block;
}
#slider3-pager span{
    float: left;
}
#slider3-pager span{
    width:100px;
    height:15px;
    background:#fff;
    display:inline-block;
    border-radius:30em;
    opacity:0.6;
}
#slider3-pager .rslides_here a {
    background: #FFF;
    border-radius:30em;
    opacity:1;
}
#slider3-pager a {
    padding: 0;
}
#slider3-pager li{
    display:inline-block;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display:none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li{
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 124%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 200;
}
.slider-top span{
    font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
    visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #f44336;
    border: 2px solid #f44336;
}
/*-- //slider --*/

/*-- services --*/
.services{
    background: #cf9f58;
}

.icon-left{
    float: left;
    width: 70px;
    height: 70px;
    border: solid 1px #ffffff;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin-right: 1.5em;
}
.icon-right{
    float: left;
    width: 80%;
}
.icon-left i.fa.fa-cog,.icon-left i.fa.fa-heart,.icon-left i.fa.fa-paper-plane,.icon-left i.fa.fa-user,.icon-left i.fa.fa-thumbs-up,.icon-left i.fa.fa-bell{
    color: #ffffff;
    font-size: 2em;
}
.icon-right h5{
    color: #2f2f2f;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 0 .5em 0;
}
.icon-right p{
    color: #ffffff;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.agileits-icon-grid:nth-child(2){
    margin:2em 0;
}
/*services end*/

/*-- news --*/

.news-heading h3,
.news-heading p {
  color: #FFFFFF;
}

.para-w3 {
  color: #999999;
  font-size: .9em;
  line-height: 2em;
  margin: 1em 0 0 0;
}

.services-info-w3-agileits {
  position: relative;
  padding: 41px 36px 35px 33px;
  background: #fff;
}

.services-info-w3-agileits:after {
  content: "";
  position: absolute;
  left: 182px;
  top: 200px;
  width: 25px;
  height: 25px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.services-info-w3-agileits.mid:after {
  content: "";
  position: absolute;
  left: 175px;
  top: -10px;
  width: 25px;
  height: 25px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.services-img-agileits-w3layouts img {
  width: 100%;
}

.section-grid-wthree {
  padding: 0 7px;
}

.services-info-w3-agileits h5 {
  margin: 0;
}

.services-info-w3-agileits h5 a {
  color: #000000;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.services-info-w3-agileits h5 a:hover {
  color: #8BC34A;
}

.services-info-w3-agileits h6 {
  font-size: 0.9em;
  color: #000000;
  margin: 1em 0 0 0;
}

.services-info-w3-agileits h6 span {
  color: #8BC34A;
  margin-left: 0.5em;
}

.services-info-w3-agileits h6 a {
  color: #8BC34A;
  text-decoration: none;
}

.services-info-w3-agileits h6 a:hover {
  color: #000000;
}

.services-img-agileits-w3layouts img {
  width: 100%;
}
/*动态背景*/
.jarallax {
  background: url(/static/images/1.jpg) no-repeat 0px 0px;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/*-- //news --*/
/*faq*/
#faq {
  overflow: hidden;
}

#faq #faq-list {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
  text-decoration: none;
  padding: 18px 0;
  display: block;
  position: relative;
  font-size: 22px;
  line-height: 1;
  font-weight: 300;
  padding-right: 20px;
  color: #8BC34A;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #faq #faq-list a {
    font-size: 18px;
  }
  #faq #faq-list i {
    top: 13px;
  }
}

#faq #faq-list a.collapse {
  color: #8BC34A;
}

#faq #faq-list a.collapsed {
  color: #555;
}

#faq .faq-service {
  text-align: right;
  font-size: 1em;
}
/*end*/
/* //introduce Section*/

#introduce {
  background-color: #F7F7F7
}





/*//introduce Section*/
