/*-- landgo --*/

.landgo form input[type="checkbox"] {
  margin-right: 5px;
}

.register-goto {
  margin: 20px 0;
}

.landgo .che-remember {
  float: left;
}

.landgo .forget {
  float: right;
}
/*-- //map --*/

.img-top {
  width: 100%;
}

.img-top img {
  position: relative;
  z-index: -1;
  left: 50%;
  margin-left: -51px;
  top: 15px;
  right: 0;
}

.agile-register-grids {
  margin: 4em 0 0 0;
}

.address-row {
  margin-top: 3em;
}

.address-row:hover span.glyphicon {
  border-color: #18d26e;
  color: #ffffff;
  background: #18d26e;
}

.w3-agile-address-left {
  padding: 0;
}

.address-row span.glyphicon {
  font-size: 1.2em;
  border: 1px solid #000;
  padding: 1em;
  color: #000000;
  transition: .5s all
}

.w3-agile-address-right h5 {
  font-size: 1em;
  color: #000;
  margin: 0 0 .4em 0;
  font-weight: 800;
}

.w3-agile-address-right p {
  font-size: 0.9em;
  color: #999999;
  margin: 0;
}

.w3-agile-address-right p a {
  color: #18d26e;
}

.w3-agile-address-right p a:hover {
  color: #999;
}

.address h4 {
  font-size: 1.2em;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
}
.login-shelter{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color:#000;
  opacity: 0.5;
}
.login-form {
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  position: fixed;
  padding: 50px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: auto;
  z-index: 19999;
  width: 50%;
  border-radius: 15px;
}

.address-top,
.fl-form-top {
  text-align: left;
}

.login-form-top div,
.address-top div,
.fl-form-top div {
  padding: 15px;
  color: #FFFFFF;
  background-color: #18d26e;
}

.login-form-top h3,
.address-top h3,
.fl-form-top h3 {
  margin: 0;
  padding-left: 10px;
  border-left: 0.3em solid #FFFFFF;
  font-size: 2.3em;
  text-align: left;
}

.login-form-top p,
.address-top p,
.fl-form-top p {
  text-align: left;
  color: #777777;
  font-size: 0.5em;
  margin: 3px 0 20px 0;
}

.fl-form input[type="password"],
.fl-form input[type="number"],
.fl-form input[type="text"],
.fl-form input[type="email"],
.fl-form select {
  color: #999;
  width: 100%;
  background: none;
  outline: none;
  height: 40px;
  border-radius: 0;
  font-size: .9em;
  padding: .7em 1em;
  margin-bottom: 20px;
  border: solid 1px #999;
  -webkit-appearance: none;
}

.fl-form .submit {
  text-align: center;
  width: 100%;
  outline: none;
  color: #000;
  padding: 0.5em 3em;
  font-size: .9em;
  margin: 1em 0 0 0;
  -webkit-appearance: none;
  background: none;
  transition: 0.5s all;
  border: 1px solid #000;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.fl-form .submit:hover {
  color: #FFFFFF;
  background: #18d26e;
  border: 1px solid #18d26e;
}

.fl-form input:focus,
.fl-form select:focus,
.fl-form textarea:focus {
  border: 0.1em solid #18d26e;
}

.login-form .login-form-left {
  margin: 10px 5px;
  font-size: 0.8em;
  color: #18d26e;
}

.login-form .login-form-right {
  font-size: 1em;
  margin: 20px;
}
.register-form-right,.login-form-right{
  margin-top: 20px;
}
.register-form-left,.login-form-left{
  font-size: 12px;
}
.login-form-min a div {
  float: none;
  display: inline-block;
  margin: 5px 5px;
}

.register {
  padding: 50px;
}


/*-- //register --*/
.fx a div {
   background-size: 100% 100%;
  -moz-background-size: 100% 100%;
   padding: 0 0 5px 0;
   margin: 0 20px 0 0;
   width: 20px;
   height: 20px;
}
.fx-qq div {
  background-image: url(../../img/qq_h.png);
}

.fx-wb div {
  background-image: url(../../img/weibo_h.png);
}

.fx-wx div {
  background-image: url(../../img/weixin_h.png);
}

.fx-qq:hover div {
  background-image: url(../../img/qq.png);
}

.fx-wb:hover div {
  background-image: url(../../img/weibo.png);
}

.fx-wx:hover div {
  background-image: url(../../img/weixin.png);
}

/*-- //landgo --*/
