
.userOrder-item table{
  width: 100%;
}
.userOrder-item th{
  padding: 12px;
  background-color: #605F5F;
  color: #ffffff;
}
.userOrder-item th:last-of-type{
  text-align: center;
  width:350px;
}
.userOrder-item tr{
  border:1px solid #f0f0f0;
}
.userOrder-item td{
  padding: 12px;
}
.userOrder-item .goods-num{
  width: 40px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: -10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #333333;
}
.userOrder-item em{

  display: block;
}
.userOrder-item img{
  padding: 2px;
  border:1px solid #f0f0f0;
}
.userOrder-item h4{
  margin-left: 20px;
  display: inline-block;
  font-weight: bold;
}
.userOrder-item span{
  font-weight: bold;
  display: block;
  text-align: center;
}
.userOrder-message td:first-of-type{

}
.userOrder-message td:last-of-type>div{
  display: inline-block;
  margin: 10px;
  width: 300px;
  border:6px solid red;
  padding: 20px;
}
.userOrder-message td:last-of-type ol{
  margin: 0;
  padding: 0;
}
.userOrder-message td:last-of-type em{
  margin-top: 20px;
}
.userOrder-message td:last-of-type i{
  float: right;
  font-size: 25px;
}
.userOrder-message h4{
  margin: auto;
  margin-bottom: 20px;
}
.userOrder-message p{
  margin-right: 20px;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 5px;
}
.userOrder-item{
  border: 1px solid #f0f0f0;
  width: 100%;
  margin-bottom: 20px;
}
